<md-content  ng-controller="userTrainingController" layout="column" flex>
	<md-toolbar layout="row" class="m-accent md-hue-2">
		<div class="md-toolbar-tools">
			<md-button class="md-class-button" title="Regresar">
				<md-icon class="material-icons">arrow_back</md-icon>
			</md-button>
			<h2><span>Registro</span></h2>
			<span flex></span>
			<md-button calss="md-icon-button" title="Enviar"><!--ng-if="valid"-->
				<md-icon class="material-icons">done</md-icon>
			</md-button>
			<md-button class="md-icon-button" title="Deshacer" ng-click="reset(trainForm)"  tipe="reset">  <!-- Athan: modifique ng-click="reset" y agregue el tipe="reset" modificado el 15 abril  23:50 -->
				<md-icon class="material-icon">undo</md-icon>
			</md-button>
			<!--<md-button class="md-icon-button" title="Siguiente"> 
				<md-icon class="material-icon">arrow_forward</md-icon>
			</md-button>-->
		</div>
	</md-toolbar>
	<!--CONTENT-->
	<md-content layout-padding>
		<form name="trainForm" layout-padding autocomplete="false">
			<span>Experiencia Deportiva</span><br>
			<md-input-container class="md-block">
				<md-select ng-model="spot" placeholder="Experiencia" >
					<md-option value={{spot.name}} ng-repeat="spot in sport">{{spot.name}}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container>		
				<label>Años</label>
				<input ng-model="user.yearsplaying" type="number" name="userYearsPlaying">
			</md-input-container>
			<md-input-container>		
				<label>Equipo</label>
				<input ng-model="user.team" type="text" name="userTeam">
			</md-input-container>
			<br>Inscripción<br>
			<md-input-container>		
				<label>Temporada</label>
				<input ng-model="user.temp" type="text" name="userTemp" ng-required="true">
				<ng-messages for="trainForm.userTemp.$error" ng-if="trainForm.userTemp.$dirty"> 
					<ng-message when="required">El campo es obligatorio</ng-message>
				</ng-messages>
			</md-input-container>
			<md-input-container class="md-block">
				<md-select ng-model="cat" placeholder="Categoria" >
					<md-option value={{cat.name}} ng-repeat="cat in categories">{{cat.name}}</md-option>
				</md-select>
			</md-input-container>
		</form>
	</md-content>
	<div>
		ENVIA EL FORMULARIO PARA TERMINAR EL TRÁMITE.
	</div>
</md-content>